.header{
  width: 100%;
  background-image: url("assets/header-bg.png");
  height: 220px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Impact, Charcoal, sans-serif;
}
